{% extends "blog/base.html"%}
{% block content%}
<h2>About Us</h2>
<p>This is a safe and anonymous storytelling platform designed to help individuals share personal experiences and thoughts related to mental health. Inspired by classic social media simplicity, it provides a minimal yet powerful space for expression and support.</p>
<p>Users can sign up quickly with just a username and password—no email verification needed—ensuring ease of access while preserving privacy. This project also serves as a demonstration of modern DevOps practices using Docker and containerized deployment.</p>

<h3>Features:</h3>
<ul>
    <li>Anonymous Profiles with Custom Bios</li>
    <li>Timeline of Real, Raw Stories from Users</li>
    <li>Simple, Secure Story Posting Interface</li>
   
</ul>

{%endblock content%}
        